@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-outline-dark" asp-controller="AuthToken" asp-action="Index">Click me into AuthToken!</a>
</div>
