ZeusAlipay/bin/
ZeusAlipay/obj/
.vs
setting.json
alipay.setting.json
paypal.setting.json
Tests/ZeusAlipay.Tests/bin/
Tests/ZeusAlipay.Tests/obj/
/Demos/ZeusAlipayMvcApp/obj
/alipayRootCert.crt
/appCertPublicKey.crt
/alipayPrivateKey.txt
/Demos/ZeusAlipayMvcApp/bin/Debug/netcoreapp3.1
/Demos/ZeusAlipayMvcApp/.config
/Demos/ZeusAlipayMvcApp/bin/Release/netcoreapp3.1
/Demos/ZeusAlipayMvcApp/Properties/PublishProfiles
ZeusPaypal/obj/
ZeusPaypal/bin/
/Tests/ZeusPaypal.Tests/obj
/Tests/ZeusPaypal.Tests/bin/Debug/netcoreapp3.1
