ZeusAlipay/bin/
ZeusAlipay/obj/
.vs
setting.json
Tests/ZeusAlipay.Tests/bin/
Tests/ZeusAlipay.Tests/obj/
/Demos/ZeusAlipayMvcApp/obj
/alipayRootCert.crt
/Demos/ZeusAlipayMvcApp/bin/Debug/netcoreapp3.1
/Demos/ZeusAlipayMvcApp/.config
/Demos/ZeusAlipayMvcApp/bin/Release/netcoreapp3.1
/Demos/ZeusAlipayMvcApp/Properties/PublishProfiles
